<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Animations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4600DD6E1DFF1D6800A90782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4600DD821DFF1D6900A90782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4600DD8D1DFF1D6900A90782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
